#foodservice{

  
   width: 100%;
	padding: 20px 0 40px 0;
	h1{
	font-family: 'Great Vibes', cursive;
	color: #1ec0ff;
	padding: 10px 0 0 0;

	
}
p{
	font-size: 17px;
}

i{
	    font-size: 73px;
    color: cadetblue;
}

}