#navbar{
	font-family: 'Great Vibes', cursive;
	a{
		text-decoration: none;
	}
	
	ul>li{
		float: left;
	}
	nav{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: linear-gradient(gray,#ccc);
	}
#input{
	display: none;
    position: relative;
    top: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 20px
}
p{
	    margin: 19px 0px 8px;
	    color: white;
}
@media (max-width: 993px){
	p{
		display: none;
	}
	#input{
		display: none;
	}
	#iconss{
		display: none;
	}
	
	
}
	






i{
	    position: relative;
    top: 18px;
    font-size: 21px;
    color: aliceblue;
}

ul{
	margin-bottom: 0px;

	
}
ul>li{
	list-style: none;
	display: inline-block;
	 padding: 15px 40px;
	 transition: all .4s linear;
}
ul>li:hover{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	color: red;
}
ul>li>a{
	color: #fff;
	font-size: 18px;

}

.toggle{
	width: 100%;
	padding: 10px 20px;
	background: #001f44;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;

}
@media (max-width: 768px){
	.toggle{
		display: block;
	}
	ul{
	width: 100%;
	display: none;
}
ul>li{
	display: block;
	text-align: center;
}
.active{
	display: block;
}
}

}