#service{

	width: 100%;
	padding: 10px 0;
	position: relative;


.item{
	    border: 2px dotted darkred;
    border-radius: 32px;
    position: relative;
    padding: 51px;
    margin-top: 70px;
}






}