#slider{
	.container{
	width: 100%;
position: relative;
overflow-x: hidden;
}
.slider{
	position: relative;
	width: 500%;
	animation:animate 20s linear infinite;
}
.booking{
	display: none;
    position: absolute;
   	top: 60%;
    left: 35%;
    border: 3px solid #fff;
    padding: 3px 44px;
    border-radius: 30px;
    background: #cccc;
    color: brown;
    font-size: 23px;
}

		@media (max-width: 993px){
				
			.booking{
				display: block;
			}


		}

		.slide h3{
			position: absolute;
			left: 42%;
			top: 50%;
		}
.slide{
	position: relative;
	width: 20%;
	float: left;
	height: 550px; 
	background-size: cover;
	box-sizing:border-box;

}
.slide h1{
	margin:0;
	padding: 0;
	position: absolute;
	top: 50%;
	font-family: 'Cinzel Decorative', cursive;
	transform: translateY(-50%);
	text-align: center;
	font-size: 4em;
	width: 100%;
	color: #fff;
}
.slide p{
	margin: 0;
    padding: 0;
    position: relative;
    top: 28%;
    left: 35%;
    font-family: 'Cinzel Decorative', cursive;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
    width: 37%;
    color: #fff;

}

.slide:nth-child(1){
	background:url(https://images.pexels.com/photos/167685/pexels-photo-167685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center no-repeat ;
	background-size: cover;

	box-sizing:border-box;
}
.slide:nth-child(2){
	background:url(https://images.pexels.com/photos/8717/food-pot-kitchen-cooking.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center no-repeat;
	background-size: cover;
	box-sizing:border-box;
}
.slide:nth-child(3){
	background:url(https://images.pexels.com/photos/907142/pexels-photo-907142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center no-repeat;
	background-size: cover;
	box-sizing:border-box;
}


@keyframes animate{
	0%{left:0;}
	15%{left: 0;}
	20%{left: -100%;}
	30%{left: -100%;}
	40%{left: -200%;}
	56%{left: -200%;}
	60%{left: -100%;}
	75%{left: -100%;}
	80%{left: -100%;}
	90%{left: -100%;}
	100%{left: 0;}




}

}